{
    "crawled_data_repository": "http://setagaya.tkl.iis.u-tokyo.ac.jp:8901/~suzuki/covid19",
    "domains": {
        "health.ifeng.com": {
            "region": "cn",
            "language": "zh"
        },
        "www.gov.cn": {
            "region": "cn",
            "language": "zh"
        },

        "www.zusammengegencorona.de": {
            "region": "de",
            "language": "de"
        },

        "www.mscbs.gob.es": {
            "region": "es",
            "language": "es"
        },

        "www.ecdc.europa.eu": {
            "region": "eu",
            "language": "en"
        },

        "fr.reuters.com": {
            "region": "fr",
            "language": "fr"
        },
        "www.france24.com": {
            "region": "fr",
            "language": "fr"
        },
        "www.gouvernement.fr": {
            "region": "fr",
            "language": "fr"
        },
        "www.lci.fr": {
            "region": "fr",
            "language": "fr"
        },

        "www.who.int": {
            "region": "int",
            "language": "en"
        },

        "hazard.yahoo.co.jp": {
            "region": "jp",
            "language": "ja"
        },
        "www.kantei.go.jp": {
            "region": "jp",
            "language": "ja"
        },
        "www.mhlw.go.jp": {
            "region": "jp",
            "language": "ja"
        },
        "www.niid.go.jp": {
            "region": "jp",
            "language": "ja"
        },

        "www.cdc.gov.kr": {
            "region": "kr",
            "language": "ko",
            "prefix": "www.cdc.go.kr"
        },

        "www.covid19india.org": {
            "region": "in",
            "language": "en"
        },
        "www.mohfw.gov.in": {
            "region": "in",
            "language": "en"
        },
        "www.mygov.in": {
            "region": "in",
            "language": "en"
        },

        "www.worldometers.info": {
            "region": "int",
            "language": "en"
        },

        "globalbiodefense.com": {
            "region": "us",
            "language": "en"
        },
        "www.cdc.gov": {
            "region": "us",
            "language": "en"
        },
        "www.usa.gov": {
            "region": "us",
            "language": "en"
        }
    },
    "domains_off": {
        "www.salute.gov.it": {
            "region": "it",
            "language": "it"
        }
    },
    "url_black_list": "/mnt/hinoki/share/covid19/url_black_list.txt",
    "db_dir": "/mnt/hinoki/share/covid19/db",
    "html_dir": "/mnt/hinoki/share/covid19/html",
    "xml_dir": "/mnt/hinoki/share/covid19/xml",
    "metadata_dir": "/mnt/hinoki/murawaki/covid19",
    "run_dir": "/mnt/hinoki/share/covid19/run",
    "WWW2sf_dir": "/home/frederic/WWW2sf",
    "detectblocks_dir": "/home/frederic/detectblocks",
    "grace_period_before_pruning": 14
}

