{
    "crawled_data_repository": "http://setagaya.tkl.iis.u-tokyo.ac.jp:8901/~suzuki/covid19",
    "twitter": {
        "crawled_data_repository": "http://tokyo.tkl.iis.u-tokyo.ac.jp:7089/~toyoda/Twitter/covid19world/",
        "user": "???",
        "password": "???",
        "html_dir": "/mnt/hinoki/share/covid19/twitter/html",
        "xml_dir": "/mnt/hinoki/share/covid19/twitter/xml",
        "stats": {
            "countries_of_interest": ["_", "jp", "us", "gb", "fr", "de", "au", "cn", "kr"]
        },
        "black_list": "/mnt/hinoki/share/covid19/twitter_black_list.txt"
    }
    "default_similarity_threshold": 0.8,
    "domains": {
        "bundle.af": {
            "region": "af",
            "language": "en",
            "subdomains": ["tolonews\\.com", "[a-zA-Z.-]+\\.tolonews\\.com", "data.humdata.org/m/dataset/afghanistan-covid-19-statistics-per-province", "covid19.who.int/region/emro/country/af"],
            "sources": ["tolonews.com", "data.humdata.org", "who.int"]
        },

        "bundle.au": {
            "region": "au",
            "language": "en",
            "subdomains": ["www\\.health\\.gov\\.au"],
            "sources": ["www.health.gov.au"]
        },

        "bundle.br": {
            "region": "br",
            "language": "pt",
            "subdomains": ["g1\\.globo\\.com", "coronavirus\\.saude\\.gov\\.br"],
            "sources": ["globo.com", "gov.br"]
        },

        "health.ifeng.com": {
            "region": "cn",
            "language": "zh",
            "subdomains": ["[a-zA-Z.-]+\\.ifeng\\.com"],
            "sources": ["ifeng.com"]
        },
        "www.gov.cn": {
            "region": "cn",
            "language": "zh",
            "subdomains": ["[a-zA-Z.-]+\\.gov\\.cn"],
            "sources": ["gov.cn"]
        },

        "interaktiv.morgenpost.de": {
            "region": "de",
            "language": "de",
            "subdomains": ["[a-zA-Z.-]+\\.morgenpost\\.de"],
            "sources": ["morgenpost.de"]
        },
        "www.bundesgesundheitsministerium.de": {
            "region": "de",
            "language": "de",
            "subdomains": ["[a-zA-Z.-]+\\.bundesgesundheitsministerium\\.de"],
            "sources": ["bundesgesundheitsministerium.de"]
        },
        "www.bundesregierung.de": {
            "region": "de",
            "language": "de",
            "subdomains": ["[a-zA-Z.-]+\\.bundesregierung\\.de"],
            "sources": ["bundesregierung.de"],
            "similarity_threshold": 0.7
        },
        "www.spiegel.de": {
            "region": "de",
            "language": "de",
            "subdomains": ["[a-zA-Z.-]+\\.spiegel\\.de"],
            "sources": ["spiegel.de"],
            "similarity_threshold": 0.7
        },
        "www.zusammengegencorona.de": {
            "region": "de",
            "language": "de",
            "subdomains": ["[a-zA-Z.-]+\\.zusammengegencorona\\.de"],
            "sources": ["zusammengegencorona.de"]
        },

        "covid19.gob.es": {
            "region": "es",
            "language": "es",
            "subdomains": ["[a-zA-Z.-]+\\.covid19\\.gob\\.es"],
            "sources": ["covid19.gob.es"]
        },
        "www.mscbs.gob.es": {
            "region": "es",
            "language": "es",
            "subdomains": ["[a-zA-Z.-]+\\.mscbs\\.gob\\.es"],
            "sources": ["mscbs.gob.es"]
        },

        "www.ecdc.europa.eu": {
            "region": "eu",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.ecdc\\.europa\\.eu"],
            "sources": ["ecdc.europa.eu"]
        },

        "www.france24.com": {
            "region": "fr",
            "language": "fr",
            "subdomains": ["[a-zA-Z.-]+\\.france24\\.com"],
            "sources": ["france24.com"],
            "similarity_threshold": 0.7
        },
        "www.francetvinfo.fr": {
            "region": "fr",
            "language": "fr",
            "subdomains": ["[a-zA-Z.-]+\\.francetvinfo\\.fr"],
            "sources": ["francetvinfo.fr"],
            "similarity_threshold": 0.7,
            "dom_element_to_compare": "article"
        },
        "www.gouvernement.fr": {
            "region": "fr",
            "language": "fr",
            "subdomains": ["[a-zA-Z.-]+\\.gouvernement\\.fr"],
            "sources": ["gouvernement.fr"]
        },
        "www.lci.fr": {
            "region": "fr",
            "language": "fr",
            "subdomains": ["[a-zA-Z.-]+\\.lci\\.fr"],
            "sources": ["lci.fr"],
            "similarity_threshold": 0.7
        },
        "www.lemonde.fr": {
            "region": "fr",
            "language": "fr",
            "subdomains": ["[a-zA-Z.-]+\\.lemonde\\.fr"],
            "sources": ["lemonde.fr"],
            "similarity_threshold": 0.7
        },

        "bundle.id": {
            "region": "id",
            "language": "id",
            "subdomains": [
                "[a-zA-Z.-]+\\.indonesia\\.go\\.id",
                "[a-zA-Z.-]+\\.detik\\.com",
                "corona\\.jakarta\\.go\\.id",
                "covid19\\.go\\.id",
                "[a-zA-Z.-]+\\.kemkes\\.go\\.id"
            ],
            "sources": [
                "indonesia.go.id",
                "www.detik.com",
                "corona.jakarta.go.id",
                "covid19.go.id",
                "www.kemkes.go.id"
            ]
        },

        "bundle.uk": {
            "region": "gb",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.gov\\.scot", "[a-zA-Z.-]+\\.nhs\\.uk", "[a-zA-Z.-]+\\.gov\\.uk", "www.ox.ac.uk/coronavirus"],
            "sources": ["www.gov.scot", "www.nhs.uk", "www.gov.uk", "www.ox.ac.uk"]
        },

        "www.who.int": {
            "region": "int",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.who\\.int"],
            "sources": ["who.int"]
        },

        "www.ansa.it": {
            "region": "it",
            "language": "it",
            "subdomains": ["[a-zA-Z.-]+\\.ansa\\.it"],
            "sources": "ansa.it"
        },
        "www.governo.it": {
            "region": "it",
            "language": "it",
            "subdomains": ["[a-zA-Z.-]+\\.governo\\.it"],
            "sources": ["governo.it"]
        },
        "www.repubblica.it": {
            "region": "it",
            "language": "it",
            "subdomains": ["[a-zA-Z.-]+\\.repubblica\\.it"],
            "sources": ["repubblica.it"]
        },
        "www.salute.gov.it": {
            "region": "it",
            "language": "it",
            "subdomains": ["[a-zA-Z.-]+\\.salute\\.gov\\.it"],
            "sources": ["salute.gov.it"]
        },

        "fij.info": {
            "region": "jp",
            "language": "ja",
            "subdomains": ["[a-zA-Z.-]+\\.fij\\.info"],
            "sources": ["fij.info"]
        },
        "hazard.yahoo.co.jp": {
            "region": "jp",
            "language": "ja",
            "subdomains": ["[a-zA-Z.-]+\\.yahoo\\.co\\.jp"],
            "sources": ["yahoo.co.jp"]
        },
        "www.kantei.go.jp": {
            "region": "jp",
            "language": "ja",
            "subdomains": ["[a-zA-Z.-]+\\.kantei\\.go\\.jp"],
            "sources": ["kantei.co.jp"]
        },
        "www.mhlw.go.jp": {
            "region": "jp",
            "language": "ja",
            "subdomains": ["[a-zA-Z.-]+\\.mhlw\\.go\\.jp"],
            "sources": ["mhlw.go.cp"]
        },
        "www.niid.go.jp": {
            "region": "jp",
            "language": "ja",
            "subdomains": ["[a-zA-Z.-]+\\.niid.go\\.jp"],
            "sources": ["niid.go.jp"]
        },

        "bundle.kr": {
            "region": "kr",
            "language": "ko",
            "subdomains": ["www\\.mohw\\.go\\.kr", "ncov\\.mohw\\.go\\.kr"],
            "sources": ["mohw.go.kr"]
        },

        "bundle.my": {
            "region": "my",
            "language": "id",
            "subdomains": ["covid-19\\.moh\\.gov\\.my/"],
            "sources": ["covid-19.moh.gov.my"]
        },

        "www.mohfw.gov.in": {
            "region": "in",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.mohfw\\.gov\\.in"],
            "sources": ["mohfw.gov.in"]
        },
        "www.mygov.in": {
            "region": "in",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.mygov\\.in"],
            "sources": ["mygov.in"]
        },

        "www.worldometers.info": {
            "region": "int",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.worldometers\\.info"],
            "sources": ["worldometers.info"]
        },

        "bundle.np": {
            "region": "np",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.who\\.int/countries/npl", "[a-zA-Z.-]+\\.worldometers.info/coronavirus/country/nepal"],
            "sources": ["who.int", "worldometers.info"]
        }

        "bundle.ru": {
            "region": "ru",
            "language": "ru",
            "subdomains": ["zona\\.media", "[a-zA-Z.-]+\\.yandex.ru", "t\\.me"],
            "sources": ["zona.media", "yandex.ru"]
        },

        "bundle.sg": {
            "region": "sg",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.gov\\.sg"],
            "sources": ["gov.sg"]
        },

        "bundle.tw": {
            "region": "tw",
            "language": "zh",
            "subdomains": ["covid19.ntnu.edu.tw"],
            "sources": ["www.ntnu.edu.tw"]
        },

        "bundle.us": {
            "region": "us",
            "language": "en",
            "subdomains": ["covid\\.cornell\\.edu"],
            "sources": ["www.cornell.edu"]
        },
        "globalbiodefense.com": {
            "region": "us",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.globalbiodefense\\.com"],
            "sources": ["globalbiodefense.com"]
        },
        "www.cdc.gov": {
            "region": "us",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.cdc\\.gov"],
            "sources": ["cdc.gov"]
        },
        "www.nytimes.com": {
            "region": "us",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.nytimes\\.com"],
            "sources": ["nytimes.com"],
            "similarity_threshold": 0.6
        },
        "www.usa.gov": {
            "region": "us",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.usa\\.gov"],
            "sources": ["usa.gov"]
        },

        "bundle.za": {
            "region": "za",
            "language": "en",
            "subdomains": ["sacoronavirus\\.co\\.za", "[a-zA-Z.-]+\\.sacoronavirus\\.co\\.za"],
            "sources": ["sacoronavirus.co.za"],
            "notif_empty_db_disabled": true
        }
    },
    "domains_ignored": {
    },
    "domains_disabled": {
        "www.rki.de": {
            "region": "de",
            "language": "de",
            "subdomains": ["[a-zA-Z.-]+\\.rki\\.de"],
            "sources": ["rki.de"]
        },

        "fr.reuters.com": {
            "region": "fr",
            "language": "fr",
            "subdomains": ["[a-zA-Z.-]+\\.fr\\.reuters\\.com"],
            "sources": ["fr.reuters.com"]
        },

        "bundle.mx": {
            "region": "mx",
            "language": "es",
            "subdomains": ["coronavirus\\.gob\\.mx", "[a-zA-Z.-]+\\.gob.mx/salud"],
            "sources": ["www.gob.mx"]
        },

        "www.covid19india.org": {
            "region": "in",
            "language": "en",
            "subdomains": ["[a-zA-Z.-]+\\.covid19india\\.org"],
            "sources": ["covid19india.org"]
        },

        "www.cdc.gov.kr": {
            "region": "kr",
            "language": "ko",
            "prefix": "www.cdc.go.kr",
            "subdomains": ["[a-zA-Z.-]+\\.cdc\\.gov\\.kr"],
            "sources": ["cdc.gov.kr"]
        },
        "www.kdca.go.kr": {
            "region": "kr",
            "language": "ko",
            "subdomains": ["[a-zA-Z.-]+\\.kdca\\.go\\.kr"],
            "sources": ["kdca.go.kr"]
        }
    },
    "url_black_list": "/mnt/hinoki/share/covid19/url_black_list.txt",
    "db_dir": "/mnt/hinoki/share/covid19/db",
    "html_dir": "/mnt/hinoki/share/covid19/html",
    "xml_dir": "/mnt/hinoki/share/covid19/xml",
    "metadata_dir": "/mnt/hinoki/murawaki/covid19",
    "run_dir": "/mnt/hinoki/share/covid19/run",
    "WWW2sf_dir": "/home/frederic/WWW2sf",
    "detectblocks_dir": "/home/frederic/detectblocks",
    "grace_period_before_pruning": 14,
    "mail": {
        "from": "noreply.covid19.dbchecker@gmail.com",
        "to": "someone@example.com",
        "cc": "someone.else@example.com",
        "bcc": "someone.else.again@example.com"
    },
    "elastic_search": {
        "host": "localhost",
        "port": 9200,
        "index_basename": "covid19-pages",
        "twitter_index_basename": "covid19-tweets"
    }
}

