{
    "crawled_data_repository": "http://setagaya.tkl.iis.u-tokyo.ac.jp:8901/~suzuki/covid19",
    "domains": {
        "health.ifeng.com": {
            "region": "cn",
            "language": "zh",
            "subdomains": [".*.ifeng.com"]
        },
        "www.gov.cn": {
            "region": "cn",
            "language": "zh",
            "subdomains": [".*.gov.cn"]
        },

        "interaktiv.morgenpost.de": {
            "region": "de",
            "language": "de",
            "subdomains": [".*.morgenpost.de"]
        },
        "www.bundesgesundheitsministerium.de": {
            "region": "de",
            "language": "de",
            "subdomains": [".*.bundesgesundheitsministerium.de"]
        },
        "www.bundesregierung.de": {
            "region": "de",
            "language": "de",
            "subdomains": [".*.bundesregierung.de"]
        },
        "www.rki.de": {
            "region": "de",
            "language": "de",
            "subdomains": [".*.rki.de"]
        },
        "www.spiegel.de": {
            "region": "de",
            "language": "de",
            "subdomains": [".*.spiegel.de"]
        },
        "www.zusammengegencorona.de": {
            "region": "de",
            "language": "de",
            "subdomains": [".*.zusammengegencorona.de"]
        },

        "covid19.gob.es": {
            "region": "es",
            "language": "es"
        },
        "www.mscbs.gob.es": {
            "region": "es",
            "language": "es",
            "subdomains": [".*.mscbs.gob.es"]
        },

        "www.ecdc.europa.eu": {
            "region": "eu",
            "language": "en",
            "subdomains": [".*.ecdc.europa.eu"]
        },

        "fr.reuters.com": {
            "region": "fr",
            "language": "fr"
        },
        "www.france24.com": {
            "region": "fr",
            "language": "fr",
            "subdomains": [".*.france24.com"]
        },
        "www.francetvinfo.fr": {
            "region": "fr",
            "language": "fr",
            "subdomains": [".*.francetvinfo.fr"]
        },
        "www.gouvernement.fr": {
            "region": "fr",
            "language": "fr",
            "subdomains": [".*.gouvernement.fr"]
        },
        "www.lci.fr": {
            "region": "fr",
            "language": "fr",
            "subdomains": [".*.lci.fr"]
        },
        "www.lemonde.fr": {
            "region": "fr",
            "language": "fr",
            "subdomains": [".*.lemonde.fr"]
        },

        "www.who.int": {
            "region": "int",
            "language": "en",
            "subdomains": [".*.who.int"]
        },

        "hazard.yahoo.co.jp": {
            "region": "jp",
            "language": "ja",
            "subdomains": [".*.yahoo.co.jp"]
        },
        "www.kantei.go.jp": {
            "region": "jp",
            "language": "ja",
            "subdomains": [".*.kantei.go.jp"]
        },
        "www.mhlw.go.jp": {
            "region": "jp",
            "language": "ja",
            "subdomains": [".*.mhlw.go.jp"]
        },
        "www.niid.go.jp": {
            "region": "jp",
            "language": "ja",
            "subdomains": [".*.niid.go.jp"]
        },

        "www.cdc.gov.kr": {
            "region": "kr",
            "language": "ko",
            "prefix": "www.cdc.go.kr",
            "subdomains": [".*.cdc.gov.kr"]
        },

        "www.covid19india.org": {
            "region": "in",
            "language": "en",
            "subdomains": [".*.covid19india.org"]
        },
        "www.mohfw.gov.in": {
            "region": "in",
            "language": "en",
            "subdomains": [".*.mohfw.gov.in"]
        },
        "www.mygov.in": {
            "region": "in",
            "language": "en",
            "subdomains": [".*.mygov.in"]
        },

        "www.worldometers.info": {
            "region": "int",
            "language": "en",
            "subdomains": [".*.worldometers.info"]
        },

        "globalbiodefense.com": {
            "region": "us",
            "language": "en",
            "subdomains": [".*.globalbiodefense.com"]
        },
        "www.cdc.gov": {
            "region": "us",
            "language": "en",
            "subdomains": [".*.cdc.gov"]
        },
        "www.nytimes.com": {
            "region": "us",
            "language": "en",
            "subdomains": [".*.nytimes.com"]
        },
        "www.usa.gov": {
            "region": "us",
            "language": "en",
            "subdomains": [".*.usa.gov"]
        }
    },
    "domains_ignored": {
        "www.ansa.it": {
            "region": "it",
            "language": "it"
        },
        "www.governo.it": {
            "region": "it",
            "language": "it"
        },
        "www.repubblica.it": {
            "region": "it",
            "language": "it"
        },
        "www.salute.gov.it": {
            "region": "it",
            "language": "it"
        }
    },
    "url_black_list": "/mnt/hinoki/share/covid19/url_black_list.txt",
    "db_dir": "/mnt/hinoki/share/covid19/db",
    "html_dir": "/mnt/hinoki/share/covid19/html",
    "xml_dir": "/mnt/hinoki/share/covid19/xml",
    "metadata_dir": "/mnt/hinoki/murawaki/covid19",
    "run_dir": "/mnt/hinoki/share/covid19/run",
    "WWW2sf_dir": "/home/frederic/WWW2sf",
    "detectblocks_dir": "/home/frederic/detectblocks",
    "grace_period_before_pruning": 14,
    "smtp": {
        "host": "smtp.gmail.com",
        "port": 587,
        "user": "myaccount@gmail.com",
        "password": "mypassword",
        "from": "noreply.covid19.dbchecker@gmail.com",
        "cc": "someone@example.com"
    }
}

